[user]
	name = andy
	email = andy@andydote.co.uk
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = sgdm --merge --result=$MERGED --title1=Remote --title2=Merge --title3=Local $REMOTE $BASE $LOCAL
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = sgdm --title1=Remote --title2=Local $LOCAL $REMOTE
[push]
	default = simple
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	cm = commit -m
	s = status
	dc = diff --cached
	graph = log --graph --all --format=format:'%C(bold yellow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(bold white)- %an%C(reset)' --abbrev-commit
	branch-clean = branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
	scrub = clean -dxf --exclude=packages
	save = !git add -A && git commit -m 'SAVEPOINT'
	undo = reset HEAD~1 --mixed
[credential]
	helper = !'C:\\Users\\Andy\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
