[user]
	name = andy
	email = andy@andydote.co.uk
[http]
	sslCAPath = c:/Program Files/Git/mingw64/ssl/certs
	sslCAInfo = c:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = sgdm --merge --result=$MERGED --title1=Remote --title2=Merge --title3=Local $REMOTE $BASE $LOCAL
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = sgdm --title1=Current --title2=Modified $LOCAL $REMOTE
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	cm = commit -m
	s = status
	dc = diff --cached
	graph = log --graph --all --format=format:'%C(bold yellow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(bold white)- %an%C(reset)' --abbrev-commit
	branch-clean = !git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
	scrub = clean -dxf --exclude=packages --exclude=node_modules
	save = !git add -A && git commit -m 'SAVEPOINT'
	undo = reset HEAD~1 --mixed
	changes = log master..HEAD --pretty=oneline --abbrev-commit
	pending = log origin/master..HEAD --pretty=oneline --abbrev-commit --format='%Cgreen%cr:%Creset %C(auto)%h%Creset %s'
	pendingup = "!git log origin/\"$(git rev-parse --abbrev-ref HEAD)\"..HEAD --pretty=oneline --abbrev-commit --format='%Cgreen%cr:%Creset %C(auto)%h%Creset %s'"
	logp = log --pretty=oneline --abbrev-commit
	logt = log --format='%Cgreen%cr:%Creset %s'
	web = !start $(git remote get-url --push origin)
	pr = !start $(git remote get-url --push origin)compare/$(git rev-parse --abbrev-ref HEAD)?expand=1
[difftool]
	prompt = false
[mergetool]
	prompt = false
[credential]
	helper = manager
