"*":
  "exception-reporting":
    userId: "f482c96e-e488-99da-f68b-1c0ddf6a0343"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    destroyEmptyPanes: false
  "spell-check": {}
  editor:
    scrollPastEnd: true
    showInvisibles: true
    invisibles: {}
  "tab-switcher": {}
  gist: {}
  "one-dark-ui": {}
