"*":
  Zen:
    minimap: true
    softWrap: true
    width: 150
  build: {}
  core:
    customFileTypes:
      "text.xml": [
        "xproj"
      ]
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "f482c96e-e488-99da-f68b-1c0ddf6a0343"
  gist: {}
  "one-dark-ui": {}
  "spell-check":
    locales: [
      "en-GB"
    ]
  "tab-switcher": {}
  welcome:
    showOnStartup: false
